@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #daffef;
}

.container {
    max-width: 80vw;
    font-family: 'Roboto', sans-serif;
}

.bg-red {
    background-color: red;
}

.logo {
    font-size: 1.5rem;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.bold {
    font-weight: 900;
}

.min-h-screen {
    min-height: 100vh;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}


.navbar {
    display: flex;
    height: 67px;
}

.navbar li {
    list-style: none;
    margin: 0 12px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    background-color: #d3c0d2;
    width: 80px;
    text-align: center;
    font-weight: 500;
}

.navbar li:hover {
    background-color: white;
    font-weight: 600;
}

.topleft {
    width: 50%;
}

.topright {
    width: 50%;
}

.flex-col {
    flex-direction: column;
}

.my-1 {
    margin-top: 13px;
    margin-bottom: 13px;
}
.my-2 {
    margin-top: 0px;
    margin-bottom: 26px;
}

.bg-boxes {
    background-color: #d3c0d2; 
}

.px-1 {
    padding-top: 13px;
    padding-bottom: 13px;
}

.text-blue {
    color: blue;
}

.btn {
    padding: 4px 12px;
    border: 2px solid #daffef;
    color: white;
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: blue;
}

.text-center {
    text-align: center;
}

.section1 {
    max-height: 100vh;
    padding: 25px;
    font-size: large;
}

#img {
  width: 400px;
  height: 600px;
  object-fit: contain;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.position {
    position: relative;
}

.section2 h1{
    padding-top: 25px;
    font-size: 3rem;
}

.section2 p {
    padding-top: 30px;
}

.section2 {
    text-align: center;
    padding-bottom: 100px;
    padding-left: 63px;
    padding-right: 63px;
}

.boxes {
    padding-top: 100px;
}

.box {
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid black;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
}

.box ul {
    list-style-type: none;
}

.box ul li {
    margin: 12px 2px;
}

.box h2 {
    font-size: 2rem;
    padding: 15px 0;
}

.highlighted {
    font-size: 1.2rem;
    font-weight: bolder;
    color: blue;
}

.plan-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 0;
  }

th, td {
    border: none;
    padding: 10px;
    text-align: center;
}

.section3 {
    padding: 73px;
}

footer {
    padding: 23px;
    text-align: center;
}

.section2 p {
    font-weight: 500;
    font-size: 20px;
}

table tr{
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.left-td {
    text-align: left;
    padding-left: 30px;
}

@media screen and (max-width: 800px) {
    .topright {
        opacity: 0.3;
    }

    .section2 {
        width: 100vw;
    }

    .boxes {
        flex-direction: column;
    }

    .container {
        align-items: center;
    }

    .section1 {
        display: flex;
    }

    hr {
        width: 100vw;
    }
}